/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* Formulaire */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px;
}

/* Champs de texte et input */
textarea,
input:not([type='submit']) {
  height: 50px;
  padding: 0 16px;
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  border: 1px solid #888;
  background-color: var(--background-color);
  color: var(--form-text-color);
  box-sizing: border-box;
}

/* Style spécifique pour le textarea */
textarea {
  resize: none;
  height: 150px;
  padding-top: 16px;
}

/* Placeholder */
::placeholder {
  color: var(--form-text-color);
}

/* Bouton de soumission */
input[type='submit'] {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  margin: auto;
}

input[type='submit']:hover {
  transform: scale(1.05);
}

input[type='submit']:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

/* Média Queries pour ajuster la taille sur des écrans plus larges */
@media (min-width: 800px) {
  form {
    gap: 30px;
  }
  textarea,
  input:not([type='submit']) {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  form {
    gap: 35px;
  }
  textarea,
  input:not([type='submit']) {
    font-size: 20px;
  }
}
